.app{

}

.container{
    align-content: center;
    padding-top: 5%;
    padding-bottom: 10%;
}

.message-list{
    text-align: center;
    background: lightslategray;
    border-radius: 20px;
    border-width: 20px;
    border-color: green;
}

.message{
    margin-top-bottom: 5px;
}

.message .message-username {
    background: blue;
    color: white;
    opacity: 0.9;
    margin-bottom: 6px;
    margin-left: 30%;
    margin-right: 30%;
    font-size: 16px;
    border-radius: 8px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.message .message-text{
    background: green;
    display: inline;
    padding: 4px 8px;
    border-radius: 8px;
    align-content: left;
}

.send-message-form {
    background: yellow;
    display: flex;
    text-align: center;
    padding-bottom: 10px;
}

.input-field{
    width: 100%;
    border-radius: 10px;
    text-align: center;
    height: 3%;

}