.app{
    background: lightgray;
}
.bg{
    background: lightslategray;
}
.message-list{
    text-align: center;
    background: lightslategray;
    border-radius: 20px;
    border-width: 20px;
    border-color: green;
}
.message-username {
    color: white;
    opacity: 0.9;
    margin-bottom: 6px;
    text-align: left;
    font-size: 11px;
    border-radius: 8px;
    padding-left: 6px;
    padding-top: 6px;
}
 .message-text{
    background: lightgray;
    display: flex;
    padding: 1px 0px 8px 0px;
    border-radius: 8px;
    align-content: left;
    padding-left: 5%;
    padding-right: 5%;
}
.nav-item a{
    color: white;
    font-weight: 500;
    font-size: 18;
    padding: 10px;
  
}
.nav{
    text-align: center;
    
}
.send-message-form {
    background: blue;
    display: flex;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.input-field{
    width: 100%;
    border-radius: 10px;
    text-align: center;
    height: 10%;
}
.left{
    background:black;   
}
.right{
    background:black;   
}
.spacer{
    margin-top: 80px;
    margin-bottom: 80px;
}
.nav-tabs{
    border-bottom: 0px;
}

#about{
    margin-top: 20px;
    width: 70%;
}

.footer {
    max-height: 115px;
    position: fixed;
    left: 0;
    bottom: 0;
    right:0;
    width: 100%;
    background-color: #007bff;
    margin-top: 30px;
    margin-bottom: 0px;
}

.btn btn-light btn-lg {
    background-color: white;
    color:#007bff;
    border-radius: 40px;

}

#para {
    color: white;
    font-weight: bold
}
